.para {
  font-size: 20px;
  font-weight: 800;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}

.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}